<!-- 
<a routerLink="/medicos">Médicos</a>
<a routerLink="/hopital">Hospital</a>
<a routerLink="/usuario">Usuario</a>
<a routerLink="/perfil">Perfil</a>
<a routerLink="/pag404">Pag404</a> -->

<app-navbar></app-navbar>

<router-outlet></router-outlet>